<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="DatabaseConnection" connectionString="Server=TREINAMENTO\SQLEXPRESS;Database=TrocadoSimulator;Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="LogFilePath" value="C:\Logs\"/>
    
    <add key="LogFileName" value="TrocadoSimulator.log"/>
    
    <!--1 - log em arquivo / 2 - log em banco / 3 - log em Windows Event log -->
    <add key="LogRepository" value="3"/>

    <add key="LogWindowsEventPath" value="C:\Logs\"/>

    <add key="LogWindowsEventName" value="WindowsEvent.log"/>
  </appSettings>
  
  
</configuration>